@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.no-margin {
    margin: 0px !important;
}

.fs-icon {
    font-size: 2.5rem;
}

a {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label.required::after {
    content: "*";
    padding-left: 3px;
    color: red;
}

.has-error {
    color: red;
}

.form-text {
    color: inherit !important;
}

.cursor-pointer {
    cursor: pointer;
}